<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login and Registration Page</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'login/style.css' %}">
    </head>
    <body>
        <div class = "wrapper">
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
            <div class = "reg">
                <h1>Registration</h1>
                <form action = "/register" method = "POST">
                    {%csrf_token%}
                    <p class = "first">Name: <input type = "text" name = "name"></p>
                    <p class = "alias">Alias: <input type = "text" name = "alias"></p>
                    <p class = "email">Email: <input type = "text" name = "email"></p>
                    <p class = "pw">Password: <input type = "password" name = "password"></p>
                    <p class = "pwm">*Password should be at least 8 characters</p>
                    <p class = "cpw">Confirm PW: <input type = "password" name = "c_password"></p>
                    <p class = "dob">Date of Birth <input type="date" name = "dob"></p>
                    <input class = "regbut" type = "submit" value = "Register"></p>
                </form>
            </div>
            <div class = "reg2">
                <h1>Login</h1>
                <form action = "/login" method = "POST">
                    {%csrf_token%}
                    <p class = "email">Email: <input type = "text" name = "email"></p>
                    <p class = "pw">Password: <input type = "password" name = "password"></p>
                    <input class = "regbut" type = "submit" value = "Login"></p>
                </form>
            </div>
        </div>
    </body>
</html>